# Predicting heart disease using an artificial neural network.

In [19]:
# importing libraries
from scipy.io import arff
import pandas as pd

In [20]:
data = arff.loadarff(r'data.arff') #reading/ loading the data

In [21]:
df = pd.DataFrame(data[0])
df.head()

      V1     V2    V3     V4    V5    V6     V7     V8    V9 Class
0  160.0  12.00  5.73  23.11  b'1'  49.0  25.30  97.20  52.0  b'2'
1  144.0   0.01  4.41  28.61  b'2'  55.0  28.87   2.06  63.0  b'2'
2  118.0   0.08  3.48  32.28  b'1'  52.0  29.14   3.81  46.0  b'1'
3  170.0   7.50  6.41  38.03  b'1'  51.0  31.99  24.26  58.0  b'2'
4  134.0  13.60  3.50  27.78  b'1'  60.0  25.99  57.34  49.0  b'2'

In [22]:
df.columns = ['V1: sbp', 'V2: tobacco', 'V3: ldl', 'V4: adiposity', 'V5: famhist', 'V6: type', 'V7: obesity', 'V8: alchohol', 'V9: age', 'Class: chd']
df.head()

,V1: sbp,V2: tobacco,V3: ldl,V4: adiposity,V5: famhist,V6: type,V7: obesity,V8: alchohol,V9: age,Class: chd
0,160.0,12.00,5.73,23.11,b'1',49.0,25.30,97.20,52.0,b'2'
1,144.0,0.01,4.41,28.61,b'2',55.0,28.87,2.06,63.0,b'2'
2,118.0,0.08,3.48,32.28,b'1',52.0,29.14,3.81,46.0,b'1'
3,170.0,7.50,6.41,38.03,b'1',51.0,31.99,24.26,58.0,b'2'
4,134.0,13.60,3.50,27.78,b'1',60.0,25.99,57.34,49.0,b'2'